{{template "base" .}}
{{define "title"}}Chopper{{end}}
{{define "main"}}

<h2>Добавить </h2>
<form method='POST' action="/register">
    <label>Name</label><br>
    <input type='text' id="name" name='name'/><br><br>

    <label>Surname</label><br>
    <input type='text' name='surname'/><br><br>

    <label>Email</label><br>
    <input type='email' id="email" name='email'/><br><br>

    <label>Password</label><br>
    <input type='password' id="password" name='password'/><br><br>

    <input type='submit' name='отправить'/><br><br>
</form>
{{end}}
