{{template "base" .}}
{{define "title"}}Chopper{{end}}
{{define "main"}}
<div class="form-container">
    <h2>Добавить </h2>
    <form method='POST' action="/register">
        <div class="form-style">
            <label>Name</label><br>
            <input type='text' name='name'/><br><br>
        </div>

        <div class="form-style">
            <label>Surname</label><br>
            <input type='text' name='surname'/><br><br>
        </div>

        <div class="form-style">
            <label>Email</label><br>
            <input type='text' name='email'/><br><br>
        </div>

        <div class="form-style">
            <label>Password</label><br>
            <input type='text' name='password'/><br><br>
        </div>

        <input type='submit' name='отправить'/><br><br>
    </form>
</div>
{{end}}
